@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Slabo+27px&display=swap');

body {
    background-color: #218eb0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

img {
    border-radius: 50%;
    position: relative;
    left: 700px;
}


h1 {
    color: whitesmoke;
    font-family: 'Boogaloo', cursive;
    font-size: 300%;
    text-align: center;
}

p {
    color: whitesmoke;
    font-family: 'Slabo 27px', serif;
    font-size: 200%;
    text-align: center;
    line-height: 2px;
    padding-bottom: 30px;
}

.container {
    width: 60%;
    height: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow: row-wrap;
    border-radius: 10px;
    padding: 2em;
    margin: auto;
    background-color: #fff;
    opacity: 0.8;
}

.row1 {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 15px;
    line-height: 2rem;

}

#firstname {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 1.5rem;
}

#lastname {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 1.5rem;
    margin-left: 40px;
}

.row2 {
    display: flex;
    margin-bottom: 15px;
    line-height: 1.5rem;
    margin-left: 5px;
}

#email {
    display: flex;
    margin-bottom: 15px;
    line-height: 1.5rem;
}

#tel {
    display: flex;
    margin-bottom: 15px;
    line-height: 1.5rem;
    margin-left: 40px;

}

#country {
    display: flex;
    margin-bottom: 15px;
    margin-left: 5px;
    width: 100%;
}

.custom-select {
    display: flex;
    margin-bottom: 15px;
    line-height: 1.5rem;
}

#occupation {
    display: flex;
    margin: 1px 15px 15px 5px;
    width: 100%;
    line-height: 1.5rem;
}

#organization {
    display: flex;
    margin: 1px 15px 15px 5px;
    width: 100%;
    line-height: 1.5rem;
}

.member {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: 1.5rem;
}
#mode {
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 100%;
}

label {
    display: block;
    margin-left: auto;
}
.radiobtns {
    display: inline-flex;
    background-color: red;
    margin-bottom: 15px;

}
.btn {
    display: flex;
    flex-direction: row;
    position: relative;
    right: -45%;
}

button {
    display: flex;
    background-color: red;
    margin-top: 20px;
    padding-top: 6px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    color: #fff;
    width: 140px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 500;

}


footer {
    text-align: center;
    line-height: 2rem;
    color: whitesmoke;
}