@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Slabo+27px&display=swap');

body {
    background-color: #218eb0;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    left: 700px;
}


h1 {
    color: whitesmoke;
    font-family: 'Boogaloo', cursive;
    font-size: 300%;
    text-align: center;
}

p {
    color: whitesmoke;
    font-family: 'Slabo 27px', serif;
    font-size: 200%;
    text-align: center;
    line-height: 2px;
    padding-bottom: 30px;
}

.container {
    width: 60%;
    height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow: row-wrap;
    border-radius: 10px;
    padding: 3em;
    margin: auto;
    background-color: #fff;
    opacity: 0.6;
}

.row {
    display: flex;
    flex-flow: row-wrap;
    margin-left: 15px;
    margin-right: 30px;
    padding-bottom: 10px;
}


footer {
    text-align: center;
    line-height: 2rem;
    color: whitesmoke;
}